/node_modules
/dist
/.env
/.env.*
/*.zip
/*.rar
/package-lock.json

!.example.env

/logs/*
!/logs/.gitkeep

#uploads
/uploads/*
!/uploads/.gitkeep
!/uploads/private
/uploads/private/*
!/uploads/private/.gitkeep
!/uploads/public
/uploads/public/*
!/uploads/public/.gitkeep